img {
    width: 50%!important;
    margin-left: 25%;
}

#movie {
    margin-left: 50%;
    text-align: center;
}

button {
    float: right;
}

#movieSave, .card-content {
    display: none;
}

#imgHolder {
    margin-left: 24%;
}

#movies {
    text-align: center;
}